@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #dde1e7;
  text-align: center;
}

.content {
  width: 330px;
  padding: 40px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.content .text {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
}

.field {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.field input,
.field select {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
}

.field input:focus,
.field select:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #ffffff73;
}

.field span {
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}

.field label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: #666666;
}

.field input:valid~label {
  opacity: 0;
}

.forgot-pass {
  text-align: left;
  margin: 20px 0 10px 5px;
}

.forgot-pass a {
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}

.forgot-pass:hover a {
  text-decoration: underline;
}

.register-button, .cancel-button {
  display: inline-block;
  margin-top: 24px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 12px;
  border-radius: 0.5em;
  background: #dde1e7;
  border: 1px solid #F1F2F6;
  box-shadow: 2px 2px 5px #BABECC, -5px -5px 10px #ffffff73;
  width: 100%;
  height: 50px;
}

.register-button:active, .cancel-button:active {
  color: #666;
  box-shadow: inset 4px 4px 5px #c5c5c5, inset -4px -4px 2px #ffffff;
}

.register-button:before, .cancel-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.register-button:after, .cancel-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.register-button:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.register-button:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.register-button:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.cancel-button:hover {
  color: #ffffff;
  border: 1px solid #e74c3c;
}

.cancel-button:hover:before {
  top: -35%;
  background-color: #e74c3c;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.cancel-button:hover:after {
  top: -45%;
  background-color: #e74c3c;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#store_fields, #supplier_fields {
	display: none;
}
