/* Dark Mode Theme */
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #1E1E1E;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
              -10px -10px 20px rgba(255, 255, 255, 0.05);
  width: 250px;
  z-index: 1;
}

.sidebar h2 {
  color: #fff;
  margin-top: 20px; /* Add margin-top value as per your preference */
  margin-bottom: 20px; /* Add margin-bottom value as per your preference */
  text-align: center;
}

.sidebar a {
  /* Other link styles */
  background-color: #1E1E1E;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff; /* Add this line to change the text color */
  display: flex;
  align-items: center;
}

.sidebar a i {
  margin-right: 5px;
  /* Neomorphic styles for icons */
  background-color: #454545;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8), 
            -5px -5px 10px rgba(255, 255, 255, 0.2);
  padding: 8px;
}

.sidebar a:hover {
  background-color: #454545; /* Slightly darker shade of the background color */
  box-shadow: inset 7px 7px 15px rgba(0, 0, 0, 0.8), 
            inset -7px -7px 10px rgba(255, 255, 255, 0.1);
}

.sidebar a:last-child {
  margin-top: auto; /* Change this line to align the last link to the bottom */
}

.sidebar a.active {
  border-radius: 8px;
  background-color: #454545;
  box-shadow: inset 7px 7px 15px rgba(0, 0, 0, 0.8), 
            inset -7px -7px 10px rgba(255, 255, 255, 0.1);

}

.sidebar ion-icon {
  /* Common styles for all icons */
  color: #363636; /* Example color */
  font-size: 24px;
  margin-right: 10px;
}

/* Content */
.content {
  flex: 1; /* Add this line to make the content div grow and occupy remaining space */
  padding: 20px;
  font-size: 28px;
  height: 100%;
  background-color: #1E1E1E;
  box-shadow: inset 10px 10px 1px rgba(0, 0, 0, 0.1),
              inset -10px -10px 1px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow-y: auto;
  z-index: 0;
  justify-content: center;
}

@media (max-width: 768px) {
  .content {
    width: 80%;
  }
}

.header {
  color: #2c3e50;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.card {
  background-color: #F0F0F0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  display: inline-block;
  width: calc(33.33% - 20px);
  vertical-align: top;
  text-align: center;
  /* Neomorphic styles */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
              -5px -5px 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease;
  margin-right: 20px;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #2c3e50;
  font-size: 24px;
}

.card p {
  margin: 0;
  color: #7f8c8d;
  font-size: 36px;
  font-weight: bold;
}

.card {
  background-color: #EAEAEA; /* Example dark shade */
  /* Rest of the styles */
}

.card:hover {
  transform: scale(1.05);
}

.card:last-child {
  margin-right: 0;
}

/* Table Style */
.product-table {
  margin-top: 20px;
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
              -5px -5px 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.product-table th,
.product-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product-table th {
  background-color: #333;
  color: #fff;
}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table tr:hover {
  background-color: #e0e0e0;
}

.product-table td .edit,
.product-table td .delete {
  color: green;
  text-decoration: none;
}

.product-table td .delete {
  color: red;
}

.product-table td .edit:hover,
.product-table td .delete:hover {
  color: #fff;
}

.product-table td .edit:before,
.product-table td .delete:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
}

.product-table td .edit:before {
  content: "\f044";
}

.product-table td .delete:before {
  content: "\f1f8";
}

.product-table td .edit:hover:before,
.product-table td .delete:hover:before {
  transform: scale(1.2);
}

/* Add Product Icon */
.popup-icon {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  float: right;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

.popup-icon i {
  margin-right: 5px;
}

/* Add Product Popup Window */
#popup-form {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
              -5px -5px 10px rgba(255, 255, 255, 0.2);
  z-index: 2;
}

#popup-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

#popup-form .form-group {
  margin-bottom: 20px;
}

#popup-form label {
  display: block;
  margin-bottom: 5px;
}

#popup-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#popup-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#popup-form button:hover {
  background-color: #1E1E1E;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
    padding: 10px;
  }
}
